<div class="colums"><a href="">
    <figure>
        <figcaption>
            <img src ="{{img.imgPath}}"></img>
            {% for p in post %}
              {{ p.title}}
            {% endfor %}
          </figcaption>
      </img>
    </figure>
</a></div>
